<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">
    <title>Create Your Account</title>
</head>
<body>
    
    <form action="">
            <div class="join_form">
                <div class="section_title"> Create Your Account</div>
                <hr>
                <!-- FIRST ROW  -->
                <div class="form-row">
                    <div class="form_area">
                        <label for="email"> Email Address </label>
                        <input type="text" maxlength="255" name="email" id="email ">
                    </div>
                </div>

                <!-- SECOND ROW  -->
                <div class="form-row">
                    <div class="form_area">
                        <label for="username"> User Name </label>
                        <input type="text" maxlength="255" name="username" id="username">
                    </div>
                </div>

                <!-- THIRD ROW -->
                <div class="form-row">
                    <div class="form_area">
                        <label for="password"> Choose Password </label>
                        <input type="password" maxlength="64" name="password" id="password" >
                    </div>
                </div>

                 <!-- FOURTH ROW -->
                 <div class="form-row">
                    <div class="form_area">
                        <label class="reenter_row" for="reenter_password"> Confirm Password </label>
                        <input type="password" maxlength="64" name="reenter_password" id="reenter_password" >
                    </div>
                </div>
                
                <!-- SUMBIT BUTTON -->
                <div class="form-row">
                   <div class="priv_and_sub">
                    <button type="submit" form="create_account" id="create_account" class="submit_button">
                        Submit
                    </button>
                   </div>
                </div>
            </div>
    </form>

</body>
</html>